*{
    margin: 0;
    padding: 0;
    overflow-y: none;

}
/* loader css */

/* loader end */

nav{
    width: 100%;
    height: 60px;
    background-color: #033E3E;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    justify-content: flex-end;
    z-index: 99999;
    border: 0.5px solid #fff;
    
}
#list{
    display: flex;
    list-style: none;
    padding-right: 10px;
    
    
  
}
li a:hover{
    cursor: pointer;
    background-color: #fff;
    transition: all 1s ease;
    color: black;
    
}
#btn , #btn2 {
    display: none;
    position: fixed;
    top: 14px;
    left: 16px;
    font-size: 20px;
    color: #fff;
}
/* h1{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40%;
} */
li a{
    text-decoration: none;
    color: white;
    border: 0.5px solid;
    border-color: transparent #fff;
    padding: 18px 50px;
}
.active{
    text-decoration: underline;
    color: white;
    font-size: 18px;
}

.heading-div{
  height: 400px;
  width: 100%;
  background-color: #033E3E;
  border: 0.5px solid #fff;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-div div{
  color: #fff;
  font-family: Georgia;
  word-spacing: 10px;
  letter-spacing: 2px;
  font-size: 30px;
  height: 100%;
  width: 90%;
  border: 0.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;


}
.first_main{
  height: 95vh;
  width: 100%;
  background-color: #033E3E;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #fff;

}

.inner_first, .inner2_first{
  height: 100%;
  width: 45%;
  border: 0.5px solid #fff;
  display: flex;
  align-items: center ;
  justify-content: center;
  flex-direction: column;
  gap: 60px;

 
}
.address{
  height: max-content;
  width: 45%;
  display: flex;
  gap: 50px;
  font-size: 17px;
  color: #fff;
}
.second_main{
  height: 100vh;
  width: 100%;
  background-color: #033E3E;
  border: 0.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
 

}
.inner_second{
  height: 80%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #fff;
}
#input{
  border: 0.5px solid;
  border-color: transparent transparent #fff transparent;
  outline: none;
background-color: #033E3E;
width: 300px;
padding: 20px;
color: #fff;
font-size: 15px;

}
#area{
  border-color: transparent transparent #fff transparent;
  outline: none;
background-color: #033E3E;
width: 500px;

}



/* footer */
.eight_main{
  height: max-content;
  width: 100%;
  background-color: #033E3E;
  background-color: #033E3E;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.inner_eight, .last_div{
  height: 150px;
  width: 100%;
  border: 0.5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
  
}
.inner2_eight , .inner3_eight{
  height: 400px;
  width: 40%;
  border: 0.5px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
#email{
  border: 0.5px solid #fff;
  border-color: transparent transparent #fff transparent;
  width: 250px;
  
  outline: none;
  background-color: #033E3E;
}
.ids{
  font-size:17px;
  color: #fff;
  padding: 20px;
}
.button3{
  background: transparent;
  height: 40px;
  width: 200px;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  border: none;
  border: 0.5px solid #fff;
  transition: all 1s ease;
  border-radius:20px ;
}
.button3:hover{
  background-color: #fff;
  color: #080808;
  text-decoration: none;
  cursor: pointer;

}

@media(max-width:1200px){
    nav{
        align-items: center;
        justify-content: center;
        gap: 100px; 
        width: 70px;
        height: 70px;
        position: fixed;
        left: 0;
        border-radius: 0px 0px 50% 0px;
        border: 1px solid #fff;
        
    }
  
    #list{
        flex-direction: column;
        align-items: center;
        height: 100%;
        display: none;
        justify-content: center;
        gap: 50px;

    
       
    }
    li a{
        font-size: 25px;
        text-decoration: none;
        color: #fff;
        padding: 10px ;
        border: none;
    
    
    }
    #btn{
        display: block;

    }
    #btn2{
        display: none;
    }
     .cng{
        height: 100%;
        width: 100%;
        transition: all 1s ease;
        border-radius: 0px 0px 0px 0px;
        
      
        
    }
    .heading-div{
      margin: 0;


    }
    .heading-div div{
      font-size: 25px;
      width: 95%;
    }
    .first_main{
      flex-direction: column;
      height: max-content;
      
    }
    .inner_first
    , .inner2_first{
      width: 95%;
      padding: 40px 0px ;
    }
    .second_main{
      height: max-content;
    }
    .address{
      width: 80%;
    }
    #area{
      width: 300px;
    }
    .eight_main {
      flex-direction: column;
      height: max-content;
      width: 100%;
      
    
  }
  .inner2_eight , .inner_eight, .inner3_eight{
  padding: 20px 0px;
  flex-direction: column;
      height: max-content;
      width: 100%;
  
}
  
  #email{
      width: 100px;
  }
  .last_div{
    width: 100%;
  }
   
  .inner2_eight h1{
    font-size: 20px;
}
}